@import "./reset.css";

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #000000;
  margin-top: 70px;
}

header {
  display: flex;
  justify-content: center;
}

header img {
  width: 200px;
  margin-bottom: 50px;
}

h1 {
  color: white;
  margin-bottom: 50px;
  text-align: center;
}

.container-main {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

ul img {
  width: 200px;
  border-radius: 5px;
}

ul {
  display: flex;
  justify-content: space-around;
}

p {
  text-align: center;
  color: #ffffff;
}

footer {
  display: flex;
  justify-content: center;
}

button {
  background-color: #000000;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 45px;
  transition: transform 0.3s;
}

button:hover {
  background-color: white;
  color: #000000;
  transition: 0.3s;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-list {
  display: flex;
  justify-content: space-around;
  padding: 1%;
  list-style-type: none;
}

.card-item {
  width: 20%;
  transition: transform 0.3s;
}

.card-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-img {
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: border 0.3s;
}

.card-item:hover .card-img {
  border: 1px solid white;
}

.item-profile {
  text-align: center;
  margin: 5px 0;
  color: gray;
  transition: color 0.3s;
}

.card-item:hover .item-profile {
  color: white;
}
